/.venv/
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
.env
*.env
Models/
.DS_Store
.vscode/
.idea/
.pytest_cache/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.mypy_cache/
/.pytest_cache/
/.cache/
.coverage
coverage.xml
pip-log.txt
*.log
*.sqlite3
node_modules/
*.pyc
*.pyd
*.so
*.egg
/.git/